{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Tanque ruso t-34</h1>
        <p>
            El T-34 fue el tanque por excelencia de la Segunda Guerra Mundial. Esta joya armamentística fabricada por la Unión Soviética y temida por todos los carristas del Tercer Reich en el Frente Oriental de Rusia, se caracterizó por la simplicidad y calidad en su diseño, coraza, tracción, cañón y económica producción, lo que convirtió a este carro en uno de los mejores blindados del siglo XX.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/primer-t34.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}